= semantic_form_for @project do |f|
  = f.inputs do
    = f.input :name
    = f.input :description

    %fieldset#tasks
      %legend Tasks
      = f.semantic_fields_for :tasks do |task|
        = render 'task_fields', f: task
      .links
        = link_to_add_association 'add task', f, :tasks

  = f.actions do
    = f.action :submit, as: :input
