%h2 Browse Projects

%p= link_to 'New Project', new_project_path

%table
  %thead
    %tr
      %th Name
      %th Description
      %th
      %th
      %th

  %tbody
    - @projects.each do |project|
      %tr
        %td= link_to project.name, project
        %td= project.description
        %td= link_to 'Edit', edit_project_path(project)
        %td= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }
